.sidebar {
  background-color: #aba3a3;
  padding: 1vh;
  display: flex;
  width: 100%;
  justify-content: center;
}

.sideBtn {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.sidebar button {
  font-weight: 800;
  display: flex;
  padding: 1vh 10vh;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
