.sidebar {
  background-color: #cfe7fa;
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.sideBtn {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

/* .sidebar button {
  font-weight: 800;
  display: flex;
  padding: 1vh 10vh;
  background-color: transparent;
  border: none;
  cursor: pointer;
} */
